[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
plotly = "==5.13.1"
numpy = "*"
seaborn = "*"
matplotlib = "*"
plotly-express = "==0.4.0"
scikit-learn = "*"
requests = "*"
streamlit-lottie = "*"
importlib-resources = "*"
pathlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
